.container {
  width: 320px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.img {
  width: 320px;
  height: 200px;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: gray;
  gap: 8px;
}
.likes,
.tags {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}
.tags {
  align-items: start;
}
.tagsTitle {
  display: flex;
  align-items: center;
}
